<div id="row">
  <div class= "col-md-6 col-md-offset-3">
    <h2>Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true ,input_html: {class: 'form-control'}%><br>
        <%= f.input :password, required: true,input_html: {class: 'form-control'} ,hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %><br>
        <%= f.input :password_confirmation, required: true, input_html: {class: 'form-control'} %><br>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up",{class: 'btn btn-primary'} %>
      </div><br>
    <% end %>

    <%= render "devise/shared/links" %>
</div>
</div>
