- @recipe.each_slice(3) do |recipes|
  .row
    -recipes.each do |recipe|
      .col-md-4
        .recipe
          .image_wrapper
            =link_to recipe do
              =image_tag recipe.image.url(:medium)
            %h2= link_to recipe.title,recipe
